rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Usuários (cadastro aberto, cada um gerencia o próprio doc; admins podem gerenciar todos)
    match /usuarios/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && (request.auth.uid == userId || isAdmin());
    }

    // Relatórios
    match /relatorios/{relatorioId} {
      // Leitura: admin vê tudo; usuário só o que é da própria matrícula
      allow read: if request.auth != null && ( isAdmin() || resource.data.matricula == userMatricula() );

      // Escrita: apenas admins criam/alteram/excluem
      allow create, update, delete: if request.auth != null && isAdmin();
    }
  }

  function userMatricula() {
    return request.auth.token.email.split('@')[0];
  }
  function isAdmin(){
    return request.auth.token.email in [
      "6266@movebuss.local",
      "4144@movebuss.local",
      "70029@movebuss.local"
    ];
  }
}
