rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Estrutura: posConferencia/{matricula}/{relatorioId}/{filename}
    match /posConferencia/{matricula}/{relatorioId}/{filename} {
      // Admin: pode tudo
      allow read, write, delete: if request.auth != null && isAdmin();

      // Usuário comum: pode LER somente se a pasta corresponder à própria matrícula
      allow read: if request.auth != null && request.auth.token.email.split('@')[0] == matricula;
    }
  }

  function isAdmin(){
    return request.auth.token.email in [
      "6266@movebuss.local",
      "4144@movebuss.local",
      "70029@movebuss.local"
    ];
  }
}
